<div class="main-container">

    <app-calendar  (dateChanged)="onDateChanged($event)"></app-calendar>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" aria-label="calendar hours">
        
        <ng-container matColumnDef="hour">
            <th mat-header-cell *matHeaderCellDef> Hour </th>
            <td mat-cell *matCellDef="let element"> {{element.hour}} </td>
        </ng-container>

        <!-- analytical_Function Column -->
        <ng-container matColumnDef="events" cdkDropListGroup>
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <div cdkDropList [cdkDropListData]="element.events" (cdkDropListDropped)="drop($event)">
                    <button mat-button *ngFor="let item of element.events" color="primary"
                        cdkDrag>{{item.title}}</button>
                    <button mat-button [ngStyle]="{'color': 'red'}" *ngIf="element.events.length === 0"></button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>

<mat-card>
    <mat-card-title>Appointments</mat-card-title>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let appointment of appointments.slice().reverse()">
                <p matListItemTitle>Title: {{ appointment.title }}</p>
                <p matListItemLine class="secondary-text">Description: {{ appointment.description }}</p>
                <p matListItemLine class="secondary-text">Date: {{ appointment.date | date }}</p>
                <button mat-icon-button color="warn" (click)="onDelete(appointment?.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>